#la {
    transition: linear;
    animation: floatX 1s ease-in-out infinite;
}

@keyframes floatX {
    0%{
        transform: translateX(0%);    
    }
    50%{
        transform: translateX(-30%);
    }
    100%{
        transform: translateX(0%);    
    }
}

.top-orange-flower {
    animation: rotate 60s linear infinite;
}

@keyframes rotate {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}