@media screen and (min-device-width: 1300px) and (max-device-width: 1400px) {
  html {
    font-size: 16px;
  }

  .mobile-popup {
    display: none;
  }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1350px) {
  html {
    font-size: 14px;
  }

  .mobile-popup {
    display: none;
  }
}

@media screen and (min-device-width: 760px) and (max-device-width: 1024px) {
  html {
    font-size: 11px;
  }

  .mobile-popup {
    display: none;
  }
}

@media screen and (min-device-width: 680px) and (max-device-width: 760px) {
  html {
    font-size: 10px;
  }

  .mobile-popup {
    display: none;
  }
}

@media screen and (min-device-width: 600px) and (max-device-width: 680px) {
  html {
    font-size: 9px;
  }

  .mobile-popup {
    display: none;
  }
}

@media screen and (min-device-width: 550px) and (max-device-width: 600px) {
  html {
    font-size: 8px;
  }

  .mobile-popup {
    display: none;
  }
}

@media screen and (min-device-width: 50px) and (max-device-width: 550px) {
  html {
    font-size: 12px;
  }

  .logo {
    width: 30%;
  }

  body {
    width: 100%;
  }

  .first {
    width: 100%;
    border-bottom: 2px solid var(--light-pink);
  }

  .second {
    width: 100%;

  }

  .indicator {
    display: none !important;
  }

  .first-block-para {
    display: block;
  }

  .second-block-para {
    display: none;
  }

  .flower2 {
    display: none;
  }

  .main-heading {
    width: 90%;
  }

  .diamond {
    width: 90%;
  }

  .btn-primary {
    margin: 1em auto 2em auto;
    border-radius: 5px;
  }

  .ipara {
    text-align: center;
  }

  .ipara p {
    width: 90%;
    margin: 1em auto;
    text-align: center;
  }

  .sec3 {
    width: 90%;
    margin: 1vh auto 5vh auto;
  }

  .pc-popup {
    display: none;
  }

  footer * {
    font-size: 0.8rem;
    line-height: 1.6rem;
  }

  footer {
    margin: auto 5vh 5vh 5vh;
  }

}